.header-child12 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-seagreen-100);
  width: 1920px;
  height: 97px;
}
.logo-1-icon15 {
  position: absolute;
  top: 14px;
  left: 871px;
  width: 177.8px;
  height: 68.4px;
  object-fit: cover;
}
.header-child13 {
  position: absolute;
  top: 95px;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 1920px;
  height: 121px;
}
.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}

.form {
  --timing: 0.3s;
  --width-of-input: 250px;
  --height-of-input: 60px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #2f2ee9;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  top: 124px;
  left: 1485px;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg,#fff);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}

.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}

.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}
.form:focus-within:before {
  transform: scale(1);
}

.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}

input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}

.form svg {
  width: 17px;
  margin-top: 3px;
}

.material-symbolsnotifications-icon13 {
  position: absolute;
  top: 136px;
  left: 1794px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.mask-group-icon15 {
  position: absolute;
  top: 125px;
  left: 46px;
  width: 63px;
  height: 63px;
  object-fit: cover;
}
.welcome-back-johnny9 {
  position: absolute;
  top: 126px;
  left: 144px;
  font-size: var(--font-size-23xl-4);
  font-weight: 500;
  color: var(--color-black);
  display: flex;
  align-items: center;
  width: 490.5px;
  height: 61px;
}
.header8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 216px;
}
.navigation-column-child12 {
  position: absolute;
  top: 0;
  left: 1px;
  background-color: var(--color-white);
  width: 263px;
  height: 864px;
}
.dashboard15 {
  position: absolute;
  top: 41px;
  left: 50px;
  font-weight: 500;
}
.messages8 {
  top: 243px;
  left: 50px;
}
.messages8,
.notifications14,
.tickets18 {
  position: absolute;
  font-weight: 500;
}
.tickets18 {
  top: 108px;
  left: 50px;
  display: flex;
  align-items: center;
  width: 82px;
}
.notifications14 {
  top: 176px;
  left: calc(50% - 82px);
}
.files15,
.services15,
.settings16 {
  position: absolute;
  left: 50px;
  font-weight: 500;
}
.services15 {
  top: 310px;
}
.files15,
.settings16 {
  top: 377px;
}
.settings16 {
  top: 461px;
}
.navigation-column-child13 {
  position: absolute;
  top: 432px;
  left: 0;
  max-height: 100%;
  width: 263px;
}
.wrapper-rectangle-3-child9 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 2px;
  transform: scale(1.417);
}
.wrapper-rectangle-311 {
  position: absolute;
  top: 305px;
  left: 34px;
  border-radius: 7.51px;
  width: 128px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-column7 {
  position: absolute;
  top: 216px;
  left: -1px;
  width: 264px;
  height: 864px;
  font-size: var(--font-size-5xl);
}
.tickets-child13 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 14.87px;
  background-color: var(--color-white);
  border: 1.4px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 1581px;
  height: 806px;
}
.all-stickers-requests {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-23xl-4);
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  width: 437px;
  height: 53px;
}
.action1,
.date10,
.no5,
.requested-by4,
.status11,
.vehicle-make {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 29.8px;
  height: 14.6px;
}
.action1,
.date10,
.requested-by4,
.status11,
.vehicle-make {
  left: 85.9px;
  width: 115.1px;
}
.action1,
.date10,
.status11,
.vehicle-make {
  left: 388.8px;
  width: 300px;
  height: 15px;
}
.action1,
.date10,
.status11 {
  left: 1153.3px;
  width: 39.7px;
  height: 14.6px;
}
.action1,
.status11 {
  left: 1309.8px;
  width: 52px;
  height: 15px;
}
.status11 {
  left: 967.5px;
  width: 54.6px;
  height: 14.6px;
}
.plate-no,
.ticket-header3 {
  position: absolute;
  height: 15px;
}
.plate-no {
  top: 0;
  left: 776.8px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  width: 79px;
}
.ticket-header3 {
  top: 140px;
  left: 0.2px;
  width: 1361.8px;
  color: var(--color-dimgray);
}
.ticket-1-child19 {
  position: absolute;
  top: 8.6px;
  left: 956.6px;
  border-radius: 43.81px;
  background-color: #ff0808;
  width: 75.8px;
  height: 21.6px;
}
.nuo-987 {
  top: 12px;
  left: 742.3px;
  text-align: center;
  width: 162px;
  height: 14.6px;
}
.div75,
.div76,
.nuo-987,
.violation {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.violation {
  top: 11.6px;
  left: 967px;
  font-size: var(--font-size-sm-7);
  color: var(--color-white);
  width: 56px;
  height: 15px;
}
.div75,
.div76 {
  top: 19.7px;
  left: 143.7px;
  color: var(--color-silver);
  width: 115.1px;
  height: 14.6px;
}
.div76 {
  top: 11.1px;
  left: 0;
  font-size: var(--font-size-lgi-7);
  width: 23.5px;
  height: 17.9px;
}
.john-leonard-esperancilla14 {
  top: 0;
  left: 143.7px;
  width: 196.9px;
  height: 14.6px;
}
.april-04-202424,
.honda-civic-black,
.john-leonard-esperancilla14 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.honda-civic-black {
  top: 0.8px;
  left: 388.6px;
  font-size: var(--font-size-sm-1);
  width: 300.6px;
  height: 37.8px;
}
.april-04-202424 {
  top: 12px;
  left: 1123px;
  text-align: center;
  width: 101.1px;
  height: 14.6px;
}
.ticket-1-child20 {
  position: absolute;
  top: 0;
  left: 86.2px;
  border-radius: 4.36px;
  width: 45.3px;
  height: 38.6px;
  object-fit: cover;
}
.div77,
.ticket-111 {
  position: absolute;
  top: 181.4px;
  left: 0;
  width: 1224px;
  height: 38.6px;
}
.div77 {
  top: 11.2px;
  font-size: var(--font-size-lgi-7);
  font-weight: 500;
  color: var(--color-silver);
  display: inline-block;
  width: 23.5px;
  height: 17.9px;
}
.april-04-202425 {
  top: 12px;
  left: 1123px;
  text-align: center;
  width: 101.1px;
  height: 14.6px;
}
.april-04-202425,
.div78,
.ryan-giray6,
.subaru-wrx-blue {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.subaru-wrx-blue {
  top: 1.7px;
  left: 388.6px;
  font-size: var(--font-size-sm-1);
  width: 300.6px;
  height: 36.9px;
}
.div78,
.ryan-giray6 {
  left: 143.7px;
  height: 14.6px;
}
.div78 {
  top: 22.3px;
  color: var(--color-silver);
  width: 115.1px;
}
.ryan-giray6 {
  top: 2.6px;
  width: 196.9px;
}
.ticket-2-child8 {
  position: absolute;
  top: 8.6px;
  left: 956.6px;
  border-radius: 43.81px;
  background-color: var(--color-chocolate-100);
  width: 75.8px;
  height: 21.6px;
}
.nce-7847,
.pending6 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.pending6 {
  top: 12px;
  left: 968.8px;
  font-size: var(--font-size-sm-7);
  color: var(--color-black);
  width: 52.3px;
  height: 14.6px;
}
.nce-7847 {
  top: 11.8px;
  left: 742.3px;
  text-align: center;
  width: 162px;
  height: 14.8px;
}
.ticket-2-child9,
.ticket-26 {
  position: absolute;
  height: 38.6px;
}
.ticket-2-child9 {
  top: 0;
  left: 86.2px;
  border-radius: 4.36px;
  width: 45.3px;
  object-fit: cover;
}
.ticket-26 {
  top: 256.9px;
  left: 0;
  width: 1224px;
}
.div79,
.fgb-632 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.fgb-632 {
  top: 11.9px;
  left: 742.3px;
  text-align: center;
  width: 162px;
  height: 14.8px;
}
.div79 {
  top: 11.1px;
  left: 0;
  font-size: var(--font-size-lgi-7);
  color: var(--color-silver);
  width: 23.5px;
  height: 17.9px;
}
.april-04-202426 {
  top: 12px;
  left: 1123px;
  text-align: center;
  width: 101.1px;
  height: 14.6px;
}
.april-04-202426,
.ashley-dale-arguelles4,
.div80,
.toyota-hilux-gray {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.toyota-hilux-gray {
  top: 1.7px;
  left: 388.6px;
  font-size: var(--font-size-sm-1);
  width: 318px;
  height: 36.9px;
}
.ashley-dale-arguelles4,
.div80 {
  left: 143.7px;
  height: 14.6px;
}
.div80 {
  top: 22.3px;
  color: var(--color-silver);
  width: 115.1px;
}
.ashley-dale-arguelles4 {
  top: 2.5px;
  width: 196.9px;
}
.ticket-3-inner {
  position: absolute;
  top: 8.5px;
  left: 956.6px;
  border-radius: 43.81px;
  background-color: var(--color-darkblue);
  width: 75.8px;
  height: 21.6px;
}
.approved {
  position: absolute;
  top: 11.5px;
  left: 961px;
  font-size: var(--font-size-sm-7);
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 69px;
  height: 15px;
}
.ticket-3-child1 {
  position: absolute;
  height: 38.6px;
}
.ticket-3-child1 {
  top: 0;
  left: 86.2px;
  border-radius: 4.36px;
  width: 45.3px;
  object-fit: cover;
}
.ticket-31 {
  top: 332.5px;
  left: 0;
  width: 1224px;
}
.div81,
.fae-3925 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.fae-3925 {
  top: 12px;
  left: 742.3px;
  text-align: center;
  width: 162px;
  height: 14.8px;
}
.div81 {
  top: 11.2px;
  left: 0;
  font-size: var(--font-size-lgi-7);
  color: var(--color-silver);
  width: 23.5px;
  height: 17.9px;
}
.april-03-20242 {
  top: 12.1px;
  left: 1123px;
  text-align: center;
  width: 101.1px;
  height: 14.6px;
}
.april-03-20242,
.div82,
.franz-fortaleza1,
.hyundai-kona-green {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.hyundai-kona-green {
  top: 1.8px;
  left: 388.6px;
  font-size: var(--font-size-sm-1);
  width: 318px;
  height: 36.9px;
}
.div82,
.franz-fortaleza1 {
  left: 143.7px;
  height: 14.6px;
}
.div82 {
  top: 22.4px;
  color: var(--color-silver);
  width: 115.1px;
}
.franz-fortaleza1 {
  top: 2.6px;
  width: 196.9px;
}
.ticket-4-inner {
  position: absolute;
  top: 8.6px;
  left: 956.6px;
  border-radius: 43.81px;
  background-color: var(--color-darkblue);
  width: 75.8px;
  height: 21.6px;
}
.approved1 {
  position: absolute;
  top: 12px;
  left: 961px;
  font-size: var(--font-size-sm-7);
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 69px;
  height: 15px;
}
.ticket-4-child1 {
  position: absolute;
  top: 0;
  left: 86.2px;
  border-radius: 4.36px;
  width: 45.3px;
  height: 38.6px;
  object-fit: cover;
}
.phpencil-line-icon7,
.tablertrash-icon7 {
  position: absolute;
  top: 6px;
  left: 1339px;
  width: 21px;
  height: 24px;
  overflow: hidden;
}
.phpencil-line-icon7 {
  top: 9px;
  left: 1310px;
  height: 21px;
}

.div83,
.ncc-7845 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.ncc-7845 {
  top: 156.8px;
  left: 742.3px;
  text-align: center;
  width: 162px;
  height: 14.8px;
}
.div83 {
  top: 156px;
  left: 0;
  font-size: var(--font-size-lgi-7);
  color: var(--color-silver);
  width: 23.5px;
  height: 17.9px;
}
.april-01-20241 {
  top: 156.9px;
  left: 1123px;
  text-align: center;
  width: 101.1px;
  height: 14.6px;
}
.april-01-20241,
.div84,
.janpol-hidalgo1,
.nissan-juke-yellow {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.nissan-juke-yellow {
  top: 146.6px;
  left: 388.6px;
  font-size: var(--font-size-sm-1);
  width: 318px;
  height: 36.9px;
}
.div84,
.janpol-hidalgo1 {
  left: 143.7px;
  height: 14.6px;
}
.div84 {
  top: 167.2px;
  color: var(--color-silver);
  width: 115.1px;
}
.janpol-hidalgo1 {
  top: 147.4px;
  width: 196.9px;
}
.ticket-5-inner {
  position: absolute;
  top: 153.6px;
  left: 956.6px;
  border-radius: 43.81px;
  background-color: var(--color-darkblue);
  width: 75.8px;
  height: 21.6px;
}
.approved2 {
  position: absolute;
  top: 157px;
  left: 961px;
  font-size: var(--font-size-sm-7);
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 69px;
  height: 15px;
}
.ticket-5-child1 {
  position: absolute;
  top: 144.8px;
  left: 86.2px;
  border-radius: 4.36px;
  width: 45.3px;
  height: 38.6px;
  object-fit: cover;
}
.tablertrash-icon8 {
  position: absolute;
  top: 0;
  left: 1339px;
  width: 21px;
  height: 24px;
  overflow: hidden;
}
.phpencil-line-icon8,
.phpencil-line-icon9,
.tablertrash-icon9 {
  position: absolute;
  top: 3px;
  left: 1310px;
  width: 21px;
  height: 21px;
  overflow: hidden;
}
.phpencil-line-icon9,
.tablertrash-icon9 {
  top: 151px;
  left: 1339px;
  height: 24px;
}
.phpencil-line-icon9 {
  top: 154px;
  left: 1310px;
  height: 21px;
}

.aha-2146,
.div85 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.aha-2146 {
  top: 308.6px;
  left: 742.3px;
  text-align: center;
  width: 162px;
  height: 14.8px;
}
.div85 {
  top: 307.8px;
  left: 0;
  font-size: var(--font-size-lgi-7);
  color: var(--color-silver);
  width: 23.5px;
  height: 17.9px;
}
.march-31-20241 {
  top: 308.8px;
  left: 1116.9px;
  text-align: center;
  width: 114.1px;
  height: 14.8px;
}
.div86,
.ford-ranger-orange,
.march-31-20241,
.owen-owen1 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.ford-ranger-orange {
  top: 298.3px;
  left: 388.6px;
  font-size: var(--font-size-sm-1);
  width: 318px;
  height: 36.9px;
}
.div86,
.owen-owen1 {
  left: 143.7px;
  height: 14.6px;
}
.div86 {
  top: 319px;
  color: var(--color-silver);
  width: 115.1px;
}
.owen-owen1 {
  top: 299.2px;
  width: 196.9px;
}
.ticket-6-inner {
  position: absolute;
  top: 305.3px;
  left: 956.6px;
  border-radius: 43.81px;
  background-color: var(--color-darkblue);
  width: 75.8px;
  height: 21.6px;
}
.approved3 {
  position: absolute;
  top: 309px;
  left: 961px;
  font-size: var(--font-size-sm-7);
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 69px;
  height: 15px;
}
.ticket-6-child1 {
  position: absolute;
  top: 296.6px;
  left: 86.2px;
  border-radius: 4.36px;
  width: 45.3px;
  height: 38.6px;
  object-fit: cover;
}
.tablertrash-icon10 {
  position: absolute;
  top: 0;
  left: 1339px;
  width: 21px;
  height: 24px;
  overflow: hidden;
}
.phpencil-line-icon10,
.phpencil-line-icon11,
.tablertrash-icon11 {
  position: absolute;
  top: 3px;
  left: 1310px;
  width: 21px;
  height: 21px;
  overflow: hidden;
}
.phpencil-line-icon11,
.tablertrash-icon11 {
  top: 303px;
  left: 1339px;
  height: 24px;
}
.phpencil-line-icon11 {
  top: 306px;
  left: 1310px;
  height: 21px;
}

.div87,
.fgd-518 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.fgd-518 {
  top: 459.4px;
  left: 742.3px;
  text-align: center;
  width: 162px;
  height: 14.8px;
}
.div87 {
  top: 458.6px;
  left: 0;
  font-size: var(--font-size-lgi-7);
  color: var(--color-silver);
  width: 23.5px;
  height: 17.9px;
}
.march-29-20241 {
  top: 459.6px;
  left: 1116.9px;
  text-align: center;
  width: 114.1px;
  height: 14.8px;
}
.div88,
.emman-magbato1,
.march-29-20241,
.nissan-sentra-white {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.nissan-sentra-white {
  top: 449.1px;
  left: 388.6px;
  font-size: var(--font-size-sm-1);
  width: 318px;
  height: 36.9px;
}
.div88,
.emman-magbato1 {
  left: 143.7px;
  height: 14.6px;
}
.div88 {
  top: 469.7px;
  color: var(--color-silver);
  width: 115.1px;
}
.emman-magbato1 {
  top: 450px;
  width: 196.9px;
}
.ticket-7-inner {
  position: absolute;
  top: 456.1px;
  left: 956.6px;
  border-radius: 43.81px;
  background-color: var(--color-darkblue);
  width: 75.8px;
  height: 21.6px;
}
.approved4 {
  position: absolute;
  top: 459px;
  left: 961px;
  font-size: var(--font-size-sm-7);
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 69px;
  height: 15px;
}
.ticket-7-child1 {
  position: absolute;
  top: 447.4px;
  left: 86.2px;
  border-radius: 4.36px;
  width: 45.3px;
  height: 38.6px;
  object-fit: cover;
}
.tablertrash-icon12 {
  position: absolute;
  top: 0;
  left: 1339px;
  width: 21px;
  height: 24px;
  overflow: hidden;
}
.phpencil-line-icon12,
.phpencil-line-icon13,
.tablertrash-icon13 {
  position: absolute;
  top: 3px;
  left: 1310px;
  width: 21px;
  height: 21px;
  overflow: hidden;
}
.phpencil-line-icon13,
.tablertrash-icon13 {
  top: 454px;
  left: 1339px;
  height: 24px;
}
.phpencil-line-icon13 {
  top: 457px;
  left: 1310px;
  height: 21px;
}
.recent-tickets7 {
  position: absolute;
  top: 188px;
  left: 0;
  width: 1360px;
  height: 486.1px;
}
.recent-tickets7 {
  top: 27px;
  left: 52px;
  width: 1362px;
  height: 674.1px;
}
.search-bar-child26 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--color-gainsboro-100);
  width: 230px;
  height: 57px;
}
.search-for-type1 {
  position: absolute;
  top: 21px;
  left: 15px;
  font-weight: 500;
  display: inline-block;
  width: 118px;
}
.search-bar-child27,
.search-bar-child28,
.search-bar18 {
  position: absolute;
  top: 1px;
  left: 708px;
  width: 230px;
  height: 57px;
}
.search-bar-child27,
.search-bar-child28 {
  top: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--color-gainsboro-100);
}
.search-bar-child28 {
  left: 186px;
  border-radius: 0 var(--br-4xs) var(--br-4xs) 0;
  background-color: var(--color-darkslategray-200);
  width: 44px;
}
.search-for-sticker {
  position: absolute;
  top: 21px;
  left: 15px;
  font-weight: 500;
  display: inline-block;
  width: 142px;
}
.material-symbolssearch-icon13 {
  position: absolute;
  top: 19px;
  left: 198px;
  width: 20.4px;
  height: 20.4px;
  overflow: hidden;
}
.search-bar-child29,
.search-bar19 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 230px;
  height: 57px;
}
.search-bar-child29 {
  top: 0;
  border-radius: var(--br-4xs);
  background-color: var(--color-gainsboro-100);
  width: 415px;
}
.select-by-name1 {
  position: absolute;
  top: 21px;
  left: 15px;
  font-weight: 500;
  display: inline-block;
  width: 118px;
}
.search-bar20,
.search-buttons3 {
  position: absolute;
  top: 0;
  left: 262px;
  width: 415px;
  height: 57px;
}
.search-buttons3 {
  top: 87px;
  left: 52px;
  width: 938px;
  height: 58px;
  font-size: var(--font-size-smi-5);
  color: var(--color-dimgray);
}
.add-ticket-button-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--color-seagreen);
  width: 230px;
  height: 57px;
}
.icround-plus-icon1 {
  position: absolute;
  top: 3px;
  left: 10px;
  width: 51px;
  height: 51px;
  overflow: hidden;
}
.add-sticker {
  position: absolute;
  top: 16px;
  left: 61px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 155px;
  height: 26px;
}
.add-ticket-button1 {
  position: absolute;
  top: 88px;
  left: 1184px;
  width: 230px;
  height: 57px;
  text-align: center;
  font-size: var(--font-size-9xl-2);
  color: var(--color-white);
}
.tickets19 {
  position: absolute;
  top: 238px;
  left: 287px;
  width: 1581px;
  height: 806px;
  font-size: var(--font-size-base-1);
  color: var(--color-gray-100);
}
.down-button-icon3 {
  position: absolute;
  top: 977px;
  left: 1058px;
  width: 37px;
  height: 37px;
}
.parkingpass-thru {
  width: 100%;
  position: relative;
  background-color: var(--color-gainsboro-300);
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl-9);
  color: var(--color-dimgray);
  font-family: var(--font-archivo);
}

.logout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: RGB(29, 185, 84);
  top: 775px;
  left: 50px;
}

.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 18px;
}

.sign svg path {
  fill: black;
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: black;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}

.logout:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.logout:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}

.logout:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
}

.logout:active {
  transform: translate(2px, 2px);
}
