body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-archivo: Archivo;
  --font-sf-pro: "SF Pro";
  --font-abeezee: ABeeZee;
  --font-kanit: Kanit;

  /* font sizes */
  --font-size-lg-5: 18.5px;
  --font-size-3xl-7: 22.7px;
  --font-size-base-8: 15.8px;
  --font-size-31xl: 50px;
  --font-size-5xl: 24px;
  --font-size-11xl: 30px;
  --font-size-xl-9: 20.9px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-lgi: 19px;
  --font-size-lg: 18px;
  --font-size-smi-9: 12.9px;
  --font-size-base-6: 16.6px;
  --font-size-21xl: 40px;
  --font-size-7xl-6: 26.6px;
  --font-size-2xl: 21px;
  --font-size-4xl-8: 23.8px;
  --font-size-9xl-8: 28.8px;
  --font-size-4xl: 23px;
  --font-size-7xs-7: 5.7px;
  --font-size-xs: 12px;
  --font-size-54xl-2: 73.2px;
  --font-size-23xl-4: 42.4px;
  --font-size-sm-7: 13.7px;
  --font-size-smi-5: 12.5px;
  --font-size-base-9: 16.9px;
  --font-size-mini: 15px;
  --font-size-mid-1: 17.1px;
  --font-size-85xl-4: 104.4px;
  --font-size-4xs-2: 8.2px;

  /* Colors */
  --color-seagreen: #006633;
  --color-seagreen-100: #00572c;
  --color-dimgray: #707070;
  --color-gray-300: #878787;
  --color-gray-100: #2b2b2b;
  --color-gray-200: #010101;
  --color-silver: #bababa;
  --color-black: #000;
  --color-yellowgreen-100: #c4ff65;
  --color-yellowgreen-200: #abe64d;
  --color-white: #fff;
  --color-darkblue: #4f009e;
  --color-chocolate-100: #ff903f;
  --color-darkslategray-100: #414141;
  --color-darkslategray-200: #3f3d3d;
  --color-gainsboro-200: #e0e0e0;
  --color-gainsboro-100: #d9d9d9;
  --color-whitesmoke: #e9e9e9;
  --color-red: #ff2525;
  --color-lightgray: #cfcfcf;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-199xl: 218px;
  --gap-90xl: 109px;
  --gap-mini: 15px;
  --gap-34xl: 53px;
  --gap-7xl: 26px;
  --gap-10xl: 29px;
  --gap-19xl: 38px;
  --gap-64xl: 83px;
  --gap-43xl: 62px;
  --gap-12xl: 31px;
  --gap-10xs: 3px;
  --gap-xl: 20px;
  --gap-6xl-5: 25.5px;
  --gap-lg: 18px;
  --gap-148xl: 167px;
  --gap-23xl: 42px;
  --gap-sm: 14px;
  --gap-20xl: 39px;
  --gap-lgi: 19px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-11xs: 2px;
  --padding-16xl: 35px;
  --padding-46xl: 65px;
  --padding-xl: 20px;
  --padding-5xs: 8px;
  --padding-4xl: 23px;
  --padding-7xs: 6px;
  --padding-mini: 15px;
  --padding-lg: 18px;
  --padding-18xl: 37px;
  --padding-7xl: 26px;
  --padding-23xl: 42px;
  --padding-17xl: 36px;
  --padding-8xs-2: 4.2px;
  --padding-lgi: 19px;
  --padding-6xs: 7px;
  --padding-mid: 17px;
  --padding-xs: 12px;
  --padding-2xl: 21px;
  --padding-30xl-2: 49.2px;
  --padding-64xl: 83px;
  --padding-smi-1: 12.1px;
  --padding-35xl: 54px;
  --padding-8xl: 27px;
  --padding-22xl: 41px;
  --padding-3xs-9: 9.9px;
  --padding-9xs: 4px;
  --padding-8xs-1: 4.1px;
  --padding-6xl: 25px;
  --padding-12xs: 1px;
  --padding-15xl: 34px;
  --padding-sm: 14px;
  --padding-3xs: 10px;
  --padding-60xl: 79px;
  --padding-61xl: 80px;
  --padding-base: 16px;
  --padding-44xl: 63px;
  --padding-45xl: 64px;
  --padding-3xl: 22px;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-31xl-3: 50.3px;
  --br-sm-3: 13.3px;
  --br-mini: 15px;
  --br-xs: 12px;
  --br-base: 16px;
  --br-57xl: 76px;
  --br-base-7: 16.7px;
  --br-11xs: 2px;
  --br-2xs-4: 10.4px;
  --br-8xs-6: 4.6px;
  --br-mini-9: 14.9px;
  --br-10xs-9: 2.9px;
}
