.image-1-icon {
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  display: none;
}
.image-1-icon,
.logo-1-icon1,
.mask-group-icon {
  position: absolute;
  object-fit: cover;
}
.mask-group-icon {
  top: 33px;
  left: 1805px;
  width: 78px;
  height: 78px;
  cursor: pointer;
}
.logo-1-icon1 {
  top: 13px;
  left: 801px;
  width: 317px;
  height: 122px;
}
.vector-icon {
  position: absolute;
  height: 2.7%;
  width: 1.21%;
  top: 5.27%;
  right: 7.81%;
  bottom: 92.03%;
  left: 90.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child1 {
  flex: 1;
  position: relative;
  background-color: var(--color-white);
  height: 922px;
}
.frame-section {
  position: absolute;
  top: 158px;
  left: 0;
  width: 1920px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.dashboard {
  position: absolute;
  top: 0;
  left: 24px;
  font-weight: 500;
  color: #707070;
}
.services {
  top: 86px;
  left: 41px;
}
.about-us,
.contact-us,
.services {
  position: absolute;
  font-weight: 500;
}
.contact-us {
  top: 172px;
  left: calc(50% - 75px);
}

.about-us {
  top: 258px;
  left: 36px;
}

.help-support,
.settings {
  position: absolute;
  top: 384px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
}

.help-support {
  top: 466px;
  white-space: nowrap;
}

.menu {
  position: absolute;
  top: 196px;
  left: 38px;
  width: 198px;
  height: 502px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-sf-pro);
}
.landing-page-child,
.solarlogout-2-outline-icon {
  position: absolute;
  overflow: hidden;
  object-fit: cover;
}
.landing-page-child {
  top: 157px;
  left: 280px;
  max-width: 100%;
  height: 922px;
}
.solarlogout-2-outline-icon {
  top: 1000px;
  left: 65px;
  width: 45px;
  height: 45px;
}
.announcements,
.logout,
.recent-requests {
  position: absolute;
  color: var(--color-black);
}
.logout {
  top: 1008px;
  left: 125px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.announcements,
.recent-requests {
  margin: 0;
  font-weight: 400;
}
.announcements {
  top: 164px;
  left: 302px;
  font-size: 64px;
  font-family: var(--font-sf-pro);
  display: inline-block;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 93px;
}
.recent-requests {
  top: 770px;
  left: 305px;
  font-size: 50px;
  letter-spacing: 0.02em;
  font-family: var(--font-sf-pro);
}
.landing-page-item {
  position: absolute;
  top: 539px;
  left: 0;
  max-height: 100%;
  width: 278px;
  object-fit: cover;
}
.landing-page-inner {
  position: absolute;
  top: 282px;
  left: 305px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 453px;
  height: 453px;
}
.landing-page-child1,
.mask-group-icon1,
.rectangle-icon {
  position: absolute;
  top: 283px;
  left: 305px;
  width: 453px;
  height: 453px;
  object-fit: cover;
}
.landing-page-child1,
.rectangle-icon {
  top: 282px;
  left: 1397px;
  border-radius: var(--br-mini);
}

.landing-page-child1 {
  left: 851px;
}

.car-pass-applications {
  margin: 0;
}

.car-pass-applications-container {
  position: absolute;
  top: 601px;
  left: 361px;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  font-family: var(--font-sf-pro);
  color: var(--color-seagreen);
  text-align: center;
}

.rectangle-section {
  position: absolute;
  top: 880px;
  left: 305px;
  border-radius: 13.25px;
  background-color: var(--color-white);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  width: 1523px;
  height: 172px;
}
.date,
.description,
.faculty-involved,
.no,
.status {
  position: absolute;
  top: 839px;
  left: 344px;
  font-weight: 500;
  display: inline-block;
  width: 34.2px;
  height: 17px;
}
.date,
.description,
.faculty-involved,
.status {
  left: 439px;
  width: 178px;
}
.date,
.description,
.status {
  top: 838px;
  left: 705px;
  width: 146px;
}
.date,
.status {
  top: 839px;
  left: 1450.8px;
  width: 62.7px;
}
.date {
  left: 1664px;
  width: 45.6px;
}

.landing-page {
  width: 100%;
  height: 1080px;
  position: relative;
  background-color: var(--color-seagreen);
  text-align: left;
  font-size: var(--font-size-lg-5);
  color: var(--color-dimgray);
  font-family: var(--font-archivo);
}

.dashboard:hover,
.services:hover,
.contact-us:hover,
.about-us:hover,
.settings:hover,
.help-support:hover {
  color: var(--color-seagreen);
} 