.header-child38 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-seagreen-100);
  width: 1920px;
  height: 97px;
}
.logo-1-icon28 {
  position: absolute;
  top: 14px;
  left: 871px;
  width: 177.8px;
  height: 68.4px;
  object-fit: cover;
}
.header-child39 {
  position: absolute;
  top: 95px;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 1920px;
  height: 121px;
}
.search-bar-child61,
.search-bar-child62 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
  width: 622px;
  height: 58px;
}
.search-bar-child62 {
  left: 560px;
  border-radius: 0 var(--br-mini) var(--br-mini) 0;
  background-color: var(--color-darkslategray-200);
  width: 62px;
}
.search-command16 {
  position: absolute;
  top: 19px;
  left: 34px;
  font-weight: 500;
}
.material-symbolssearch-icon23 {
  position: absolute;
  top: 12px;
  left: 574px;
  width: 34px;
  height: 34px;
  overflow: hidden;
}
.search-bar43 {
  position: absolute;
  top: 126px;
  left: 1150px;
  width: 622px;
  height: 58px;
}
.material-symbolsnotifications-icon26 {
  position: absolute;
  top: 136px;
  left: 1794px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.mask-group-icon28 {
  position: absolute;
  top: 125px;
  left: 46px;
  width: 63px;
  height: 63px;
  object-fit: cover;
}
.welcome-back-johnny22 {
  position: absolute;
  top: 126px;
  left: 144px;
  font-size: var(--font-size-23xl-4);
  font-weight: 500;
  color: var(--color-black);
  display: flex;
  align-items: center;
  width: 490.5px;
  height: 61px;
}
.header21,
.tickets-child49 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 216px;
}
.tickets-child49 {
  border-radius: 14.87px;
  background-color: var(--color-white);
  border: 1.4px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 1581px;
  height: 806px;
}
.status20 {
  position: absolute;
  top: 94px;
  left: 1293px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  width: 93px;
  height: 24px;
}
.tickets-child50 {
  position: absolute;
  top: 45px;
  left: 54px;
  border-radius: 16.67px;
  width: 181px;
  height: 150px;
  object-fit: cover;
}
.office-of-student2 {
  position: absolute;
  top: 94px;
  left: 261px;
  font-size: var(--font-size-9xl-8);
  font-weight: 500;
  color: var(--color-gray-100);
  display: inline-block;
  width: 369px;
  height: 26px;
}
.description14 {
  top: 242px;
  left: 54px;
  font-weight: 500;
  width: 159px;
  height: 24.5px;
}
.april-04-202441,
.description14,
.on-april-258 {
  position: absolute;
  display: inline-block;
}
.on-april-258 {
  top: 289px;
  left: 54px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.05em;
  line-height: 35px;
  width: 1468px;
  height: 339px;
}
.april-04-202441 {
  top: 134px;
  left: 261px;
  font-size: var(--font-size-9xl-8);
  font-weight: 500;
  color: var(--color-gray-100);
  width: 216px;
  height: 30px;
}
.tickets-child51 {
  position: absolute;
  top: 133px;
  left: 1270px;
  border-radius: var(--br-57xl);
  background-color: var(--color-yellowgreen-100);
  width: 138px;
  height: 38px;
}
.read6 {
  position: absolute;
  top: 139px;
  left: 1292px;
  font-size: var(--font-size-4xl-8);
  font-weight: 500;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 93px;
}
.tickets-child52 {
  position: absolute;
  height: 6.41%;
  width: 3.27%;
  top: 5.21%;
  right: 2.11%;
  bottom: 88.37%;
  left: 94.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tickets38 {
  position: absolute;
  top: 238px;
  left: 287px;
  width: 1581px;
  height: 806px;
  font-size: var(--font-size-7xl-6);
}
.navigation-column-child38 {
  position: absolute;
  top: 0;
  left: 1px;
  background-color: var(--color-white);
  width: 263px;
  height: 864px;
}
.dashboard28 {
  position: absolute;
  top: 41px;
  left: 50px;
  font-weight: 500;
}
.messages21 {
  top: 243px;
  left: 50px;
}
.messages21,
.notifications27,
.services28 {
  position: absolute;
  font-weight: 500;
}
.services28 {
  top: 108px;
  left: 50px;
  display: flex;
  align-items: center;
  width: 95px;
}
.notifications27 {
  top: 176px;
  left: calc(50% - 82px);
}

.logout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: RGB(29, 185, 84);
  top: 775px;
  left: 50px;
}

.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 18px;
}

.sign svg path {
  fill: black;
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: black;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}

.logout:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.logout:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}

.logout:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
}

.logout:active {
  transform: translate(2px, 2px);
}


.dashboard8:hover, .dashboard8:focus,
.tickets9:hover, .tickets9:focus,
.notifications7:hover, .notifications7:focus,
.messages1:hover, .messages1:focus,
.services8:hover, .services8:focus,
.files7:hover, .files7:focus,
.settings8:hover, .settings8:focus {
  color: RGB(29, 185, 84);
}

.about-us6,
.help-support6,
.settings29 {
  position: absolute;
  top: 310px;
  left: 50px;
  font-weight: 500;
}
.help-support6,
.settings29 {
  top: 377px;
}
.settings29 {
  top: 461px;
}
.navigation-column-child39 {
  position: absolute;
  top: 432px;
  left: 0;
  max-height: 100%;
  width: 263px;
}
.wrapper-rectangle-3-child21 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 2px;
  transform: scale(1.417);
}
.wrapper-rectangle-323 {
  position: absolute;
  top: 171px;
  left: 35px;
  border-radius: 7.51px;
  width: 164px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-column20 {
  position: absolute;
  top: 216px;
  left: -2px;
  width: 264px;
  height: 864px;
  font-size: var(--font-size-5xl);
}
.student-notifications-detail-p {
  width: 100%;
  position: relative;
  background-color: var(--color-gainsboro-300);
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl-9);
  color: var(--color-dimgray);
  font-family: var(--font-archivo);
}
