.header-child34 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-seagreen-100);
  width: 1920px;
  height: 97px;
}
.logo-1-icon26 {
  position: absolute;
  top: 14px;
  left: 871px;
  width: 177.8px;
  height: 68.4px;
  object-fit: cover;
}
.header-child35 {
  position: absolute;
  top: 95px;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 1920px;
  height: 121px;
}
.material-symbolsnotifications-icon24 {
  position: absolute;
  top: 136px;
  left: 1794px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.mask-group-icon26 {
  position: absolute;
  top: 125px;
  left: 46px;
  width: 63px;
  height: 63px;
  object-fit: cover;
}
.welcome-back-johnny20 {
  position: absolute;
  top: 126px;
  left: 144px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 490.5px;
  height: 61px;
}
.header19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 216px;
  color: var(--color-black);
}
.navigation-column-child34 {
  position: absolute;
  top: 0;
  left: 1px;
  background-color: var(--color-white);
  width: 263px;
  height: 864px;
}
.dashboard26 {
  position: absolute;
  top: 41px;
  left: 50px;
  font-weight: 500;
}
.messages19 {
  top: 243px;
  left: 50px;
}
.messages19,
.notifications25,
.services26 {
  position: absolute;
  font-weight: 500;
}
.services26 {
  top: 108px;
  left: 50px;
  display: flex;
  align-items: center;
  width: 95px;
}
.notifications25 {
  top: 176px;
  left: calc(50% - 82px);
}
.about-us4,
.help-support4,
.settings27 {
  position: absolute;
  top: 310px;
  left: 50px;
  font-weight: 500;
}
.help-support4,
.settings27 {
  top: 377px;
}
.settings27 {
  top: 461px;
}
.navigation-column-child35 {
  position: absolute;
  top: 432px;
  left: 0;
  max-height: 100%;
  width: 263px;
}
.wrapper-rectangle-3-child19 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 2px;
  transform: scale(1.417);
}
.wrapper-rectangle-321 {
  position: absolute;
  top: 103px;
  left: 35px;
  border-radius: 7.51px;
  width: 127px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-column18 {
  position: absolute;
  top: 216px;
  left: -2px;
  width: 264px;
  height: 864px;
  font-size: var(--font-size-5xl);
}
.tickets-child43 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 14.87px;
  background-color: var(--color-white);
  border: 1.4px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 1581px;
  height: 806px;
}
.tickets-child44 {
  position: absolute;
  height: 6.41%;
  width: 3.27%;
  top: 5.21%;
  right: 2.11%;
  bottom: 88.37%;
  left: 94.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tickets-child45 {
  position: absolute;
  top: 117px;
  left: 0;
  max-height: 100%;
  width: 1581px;
}
.add-ticket-button-child3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--color-seagreen);
  width: 178px;
  height: 57px;
}
.icround-plus-icon5 {
  position: absolute;
  top: 3px;
  left: 6px;
  width: 51px;
  height: 51px;
  overflow: hidden;
}
.submit {
  position: absolute;
  top: 15px;
  left: 62px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 95px;
  height: 26px;
}
.add-ticket-button5,
.group-child15 {
  position: absolute;
  top: 152px;
  left: 1318px;
  width: 178px;
  height: 57px;
}
.group-child15 {
  top: 0;
  left: 0;
  border-radius: 52.52px;
  background-color: var(--color-seagreen);
  width: 151px;
  height: 37.4px;
}
.contact-gso1 {
  position: absolute;
  top: 9.2px;
  left: 18.4px;
  font-weight: 500;
  display: inline-block;
  width: 114.2px;
  height: 19.7px;
}
.rectangle-parent13 {
  position: absolute;
  top: 228px;
  left: 1332px;
  width: 151px;
  height: 37.4px;
  font-size: var(--font-size-lg-9);
}
.reservation-request-submition {
  position: absolute;
  top: 41px;
  left: 36px;
  font-size: var(--font-size-23xl-4);
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  width: 708px;
  height: 53px;
}
.description12,
.tickets36 {
  position: absolute;
  top: 312px;
  left: 193px;
  font-size: var(--font-size-6xl);
  color: var(--color-dimgray);
}
.tickets36 {
  top: 238px;
  left: 287px;
  width: 1581px;
  height: 806px;
  font-size: var(--font-size-9xl-2);
  color: var(--color-white);
}
.date14,
.entity2,
.type10,
.search-bar34,
.search-bar35,
.search-bar36, 
.search-bar37 {
  position: absolute;
  display: flex;
  width: 90px;
}
.type10,
.search-bar34,
.search-bar35,
.search-bar36, 
.search-bar37 {
  top: 14px;
  left: 0;
  align-items: center;
  height: 27px;
}
.date14,
.entity2 {
  top: 90px;
  left: 1px;
  align-items: flex-end;
}

.entity2 {
  top: 14px;
  left: 465px;
  align-items: center;
  height: 27px;
}

.search-bar34,
.search-bar35, 
.search-bar36, 
.search-bar37 {
  border: none;
  outline: none;
  border-radius: 100px;
  padding: 1em;
  background-color: #e1e2e3;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 300ms ease-in-out;
}

.search-bar39 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-4xs);
  width: 930px;
  height: 400px;
  border: none;
  outline: none;
  background-color: #e1e2e3;
  transition: 300ms ease-in-out; 
}

.search-bar34:focus,
.search-bar35:focus,
.search-bar36:focus,
.search-bar37:focus {
  transform: scale(1.05);
}

.search-bar34 {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
}

.search-bar35 {
  position: absolute;
  top: 0;
  width: 400px;
  left: 556px;
}

.search-bar36 {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  top: 76px;
}

.search-bar37 {
  top: 76px;
  left: 556px;
  position: absolute;
  width: 400px;
}

.from,
.to {
  position: absolute;
  top: 90px;
  left: 466px;
  display: flex;
  align-items: flex-end;
  width: 90px;
}

.to {
  left: 718px;
  width: 55px;
  padding-left: 16px;
}

.entity-parent,
.search-bar39,
.type-parent {
  position: absolute;
  top: 201px;
  left: 0;
  width: 930px;
  height: 401px;
}
.entity-parent,
.type-parent {
  top: 0;
  left: 91px;
  height: 602px;
}
.type-parent {
  top: 390px;
  left: 389px;
  width: 1021px;
  font-size: var(--font-size-6xl);
}
.student-reservations-request-p {
  width: 100%;
  position: relative;
  background-color: var(--color-gainsboro-300);
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-23xl-4);
  color: var(--color-dimgray);
  font-family: var(--font-archivo);
}

.dashboard26:hover, .dashboard26:focus,
.services26:hover, .services26:focus {
  color: RGB(29, 185, 84);
}

.logout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: RGB(29, 185, 84);
  top: 775px;
  left: 50px;
}

.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 18px;
}

.sign svg path {
  fill: black;
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: black;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}

.logout:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.logout:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}

.logout:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
}

.logout:active {
  transform: translate(2px, 2px);
}
